
body{
    margin: 0;
    max-width: 1440px;
    font-family: 'Roboto';
}
.learning_page{
    display: flex;
}

/*.............................This is only side_bar.................*/
.side_bar {
    display: flex;
    flex-direction: column;
    height: 620px;
    justify-content: space-between;
    background-color: rgba(242, 240, 223, 1);
    width: 200px;
    padding: 20px;
    /* position: relative; */
    /* position: fixed; */
}
.middle_option {
    display: grid;
    gap: 20px;
}

.middle_option>* {
    display: flex;
    gap: 14px;
    align-items: center;
    height: 30px;
    width: 170px;
    padding: 4px 6px
}

.inner_top_content {
    display: grid;
    gap: 46px;
}

.bottom_setting_content {
    height: 30px;
    display: flex;
    gap: 16px;
    align-items: center;
}


.side_bar h3 {
    margin: 0;
    font-size: 16px;
}
.side_bar .nav_icon {
    height: 40px;
    width: 24px; 
    font-size: 20px;
}

.side_bar .learning {
    background-color: rgba(218, 231, 197, 1);
}

/*..............................Top_nav_bar..........*/

.top_nav_bottom_5_card_parent{
    width: 100%;
}

.top_nav {
    height: 80px;
    width: 100%;
    background-color: rgba(242, 240, 223, 1);
    /* position: fixed; */
    /* margin-left: 240px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top_nav>* {
    width: 50%;
}
input#search_box {
    height: 40px;
    width: 280px;
    border: none;
    box-shadow: 0px 2px 2px gray;
    border-radius: 30px;
    padding: 0px 0px 0px 10px;
}

.search_box_parent {
    display: flex;
    /* margin: 0 auto; */
    height: 40px;
    align-items: center;
    justify-content: end;
}
.left_search_box_with_icon {
    display: flex;
    align-items: center;
}
.fa-magnifying-glass:before, .fa-search:before {
   
    position: relative;
    right: 34px;
}
/*..............................Right_Profile............*/
.right_profile {
    display: grid;
    justify-content: end;
    margin-right: 20px;
    gap: 6px
}
.profile_round {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    background-image: url(IMG_20220427_223938_379\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* img#profile_img {
    height: 40px;
    width: 40px;
    display: none;
} */

p {
    margin: 0;
    font-size: 16px;
}


/*......................................5_learning_card..........................*/

.tech_language_logo{

    height: 40px;
    width: 40px;
}

.top_content {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: 80%;
    justify-content: space-around;
}

.learning_5_card>* {
    width: 100%;
    height: 140px;
    /* text-align: center; */
    background-color: rgba(204, 204, 204, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

button.learn_more_btn {
    height: 32px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: rgba(170, 62, 226, 1);
    font-size: 14px;
    font-weight: bolder;
    /* padding: 7px; */
}

.learning_5_card {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 68%;
    row-gap: 60px;
    /* grid-template-rows: auto auto; */
    margin: 100px auto;
    /* background-color: lightblue; */
    column-gap: 10px;
}

.learning_card:nth-child(4),
.learning_card:nth-child(5){

    /* grid-row: 2;
    text-align: center; */

/* grid-column: span 3; */
    /* justify-self: center; */
    /* height: 100px; */
    position: relative;
    left: 134px;
}

