body {
    margin: 0;
    font-family: "Roboto";
    max-width: 1440px;
    background-color: white;
    user-select: none;
  
  }
  
  
  #LMS_Container {
    display: flex;
    height: 100vh;
  }
  
  #Side_Bar {
    color: black;
    padding: 16px;
    position: fixed;
    height: 100%;
    max-width: 160px;
    width: 100%;
    background-color: #f8fbf2;
    z-index: 5;
    border-right: 1px solid #e6e6e6;
  }
  
  #Main_Content {
    flex-grow: 1;
    padding: 0px;
    justify-content: space-between;
    margin-left: 13%;
    width: 100%;
  }
  
  /* LordIcon */
  
  lord-icon {
    width: 18px;
    position: relative;
    right: 25px;
  }
  
  /* li Icon */
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  
  ul.nav-list li{
    color: #91a775ed;
  }
  
  /* Nav_Bar */
  
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-link {
    display: block;
    color: #23313E !important;
  
    padding: 10px;
    text-decoration: none;
  }
  
  a.nav-settings {
    text-decoration: none;
    padding: 10px;
    display: flex;
    color: #23313E !important
  }
  
  ul.nav-list li.li-nav:hover {
    background-color: #99ecae75 !important;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul.nav-list li.nav-set:hover {
    background-color: #99ecae75 !important;
    border-radius: 5px;
  }
  
  li.nav-set {
    margin-top: 350px;
  }
  
  
  
  .Nav_Bar {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 60px;
    /* padding: 20px; */
    position: fixed;
    width: 85%;
    z-index: 1;
    top: 0;
    right: 2px;
    justify-content: space-evenly;
    gap: 21%;
    border-bottom: 1px solid #eaeaea;
  }
  
  .Search_Bar {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.05);
    width: 50% !important;
  }
  
  /* Ifont class */
  i.fas.fa-search {
    position: relative;
    right: 30px;
    border-left: 1px solid #d8d6de;
    height: 35px;
    display: flex;
    align-items: center;
    color: #38b22d;
    background-color: transparent !important;
  }
  
  
  ::before {
    left: 5px;
    position: relative;
  }


  h1.profile_hdg {
    font-size: 24px;
    color: #12160a;
    font-family: "Roboto";
  }
  
  h1.profile_hdg {
    width: 15%;
  }
  
  .Search_Section {
    width: 70%;
    padding: 10px;
    border: 1px solid #d8d6de;
    background-color: #fff;
    font-size: 13px;
  
    outline: none;
    border-radius: 1.5rem;
  
  
  }
  
  .Search_Icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  
  .Profile_Bar {
    display: flex;
    align-items: center;
    gap: 12%;
    width: 10%;
  }
  
  img.Profile {
    width: 35px;
  }

/*..............................Learning_Left_headings..........*/
/* 
.bottom_learning_content_parent {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 30px;
}


.left_heading_content {
    display: grid;
    gap: 10px;
}

.learning_right_laguage_details {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.learnig_tile {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.explain_berief_data {
    display: flex;
    flex-direction: column;
    gap: 14px;
    line-height: 22px;
}
.explain_berief_data iframe{

    margin: 0 auto;
}
.bottom_two_btn {
    display: flex;
    justify-content: end;
    width: 95%;
    margin: 0 auto;
}



.bottom_two_btn button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    background-color: rgba(170, 62, 226, 1);
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;

}

.bottom_two_btn button:hover{

    transform: scale(1.05);
}
h3#language_title {
    margin: 0;
}

.bottom_learning_content_parent p{

    margin: 0;
} */


/*.....................................content_Quiz...............*/


.bottom_content_quiz {
    padding: 10px 20px;
    width: 60%;
    height: 315px;
    margin: 0 auto;
    /* text-align: center; */
    background-color: lightsalmon;
    margin-top: 140px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    /* display: none; */
}

.bottom_quiz_btn button{

    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    background-color: rgba(170, 62, 226, 1);
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;

}
button:hover{
    transform: scale(1.05);

}

.bottom_quiz_btn {
    display: flex;
    justify-content: end;
    width: 100%;
}
.options_4>*,label:hover{
    cursor: pointer;
}

/* button.previous_btn {
    background-color: lightsalmon;
    color: lightsalmon;
    border: none;
    box-shadow: 0px 0px;
} */
.previous_btn{
    display: none;
}
.quiz_sunmit_btn{

    display: none;
}

/*........................................Quiz Result....................*/

.Answer_show_page {
    width: 52%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px 0px grey;
    margin: 0 auto;
    margin-top: 140px;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
    display: none;
}

/* .Answer_show_page {
    width: 70%;
    background-color: #d3d3d3c9;
    margin: 0 auto;
    margin-top: 50px;
} */
.top_thumsup_and_content {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 50%;
    align-items: center;
    margin: 0 auto;
}

.left_content {
    width: 60%;
}

.right_thumsup {
    width: 30%;
    text-align: center;
    border-radius: 50%;
    height: 149px;
    /* background-color: darkgreen; */
    /* display: flex; */
}

.bottom_score_board {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.405);
   
}



.bottom_score_board>* {
    width: 20%;
    border-right: 2px solid #0064006b;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;

}

.bottom_score_board h5{
    margin: 0;
    font-size: 16px;
}
.two_btn button {
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: #9C27B0;
    font-weight: bolder;
}

#retry_btn{
    display: none;
}
.two_btn{
    border:none;
}

button:hover{
    cursor: pointer;
}

.Answer_show_page img {
    /* position: relative;
    top: 41px; */
    height: 149px;
    width: 100%;
}

.Answer_show_page p {
    font-size: 16px;
    color: gray;
}
span {
    font-size: 26px;
    font-weight: bolder;
}
strong{
    font-size: 20px;
}
/*...................classList..............*/
.Answer_show_page_classlist{

    display: block;
    display: flex;
flex-direction: column;
gap: 20px;
}
.bootm_content_quiz_classlist{
    display: flex;
    flex-direction: column;
    gap: 30px;
    display: none;
   
}